
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;;
}
.card{
    height: 400px;
    width: 700px;
    background: #ffd93d;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    overflow: hidden;
}
.text{
    width: 70%;
    z-index: 5;
}

.logo{
    width: 120px;
    margin-bottom: 20px;
}

h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    line-height: 28px;
    font-size: 18px;
}

.pikachu{
    width: 300px;
    position: absolute;
    right: 5px;
    bottom: 100px;
}
    .circle{
        
      width:220px;
      height:220px;

      border:8px solid rgba(255,255,255,0.4);

      border-radius:50%;

      position:absolute;

      left:-50px;
      bottom:-50px;
    }
    

